<div class="d-flex p-5 h-100 edit-post-wrapper" >
    <div class="edit-post-sub-wrapper w-100 bg-light" >
        <%= link_to '< Back', posts_path, class: "m-4" %>
        <h1 class="pt-5 text-center" >Edit Post</h1>

        <%= render 'form', post: @post %>
    </div>
</div>
