<div class="vh-100 input-post-wrapper" >
  <div class="post-form-wrapper">
    <%= link_to '< Back', posts_path, class: " w-25 p-2" %>
        <h1 class="text-center text-uppercase" >post incredible art in armenia</h1>
        <%= render 'form', post: @post %>

       
    </div>
</div>