<div class="input-post-wrapper" >
    <div class="post-form-wrapper">
        <h1 class="text-center text-uppercase" >post incredible art in armenia</h1>
        <%= render 'form', post: @post %>

        <%= link_to 'Back', posts_path %>
    </div>
</div>