// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$color: red;
.registration-main-wrapper {
    background: rgb(176,237,212);
    background: linear-gradient(90deg, rgba(176,237,212,1) 1%, rgba(78,181,138,1) 35%, rgba(120,192,205,1) 82%);
    height: 100vh;
}

.registration-input-wrapper {
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}

.email {
    border: 2px solid #007bfe;
}

.sign-up-button {
    border: 1px solid #007bfe;
    border-radius: 0.25rem;
    color: #007bfe !important;
    &:hover {
        transition: 0.3s;
        background: rgb(176,237,212);
        background: linear-gradient(90deg, rgba(176,237,212,1) 1%, rgba(78,181,138,1) 35%, rgba(120,192,205,1) 82%);;
        color: white !important;
    }
}

.input-post-wrapper {
    padding: 50px;
    background: rgb(24,183,224);
    background: linear-gradient(58deg, rgba(24,183,224,1) 1%, rgba(94,125,195,1) 39%, rgba(118,37,126,1) 82%);
    .post-form-wrapper {
        background-color: white;
        padding: 50px 0;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }
}
.edit-posts{
    background-color:#7428BA;
    height:100vh;
 
}
.co-lor{
    color:#06557D;
}
.update-post input{
    border-radius:5px;
.back{
    height:1001px;
    padding:60px;
    background: rgb(156,159,171);
    background: linear-gradient(90deg, rgba(156,159,171,0.9864320728291317) 26%, rgba(116,133,158,1) 52%, rgba(37,61,73,1) 97%);
    
}
.border-shape{
    border-radius:5px;
}

.link-to-back{
    background-color: white;
    color:black;
    margin:0 auto;
}